@font-face {
	font-display: swap;
	font-family: "Lato";
	font-style: normal;
	font-weight: 300;
	src: url("Lato/Lato-Regular.ttf");
}

@font-face {
	font-display: swap;
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
	font-display: swap;
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Lato-Bold.ttf");
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	padding: 0;
}

body {
	padding: 10px;
	font-family: "Lato";
	font-weight: 400;
}

/* header */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 75px;
	background-color: #222222;
	color: #fff;
	padding: 0 231px 0 239px;
}

.top__logo {
	display: flex;
	height: 40px;
	gap: 39px;
	cursor: pointer;
}

.top__menu {
	display: flex;
	position: relative;
	gap: 40px;
	cursor: pointer;
}

#cart_number_products,
#number_products {
	display: none;
}
.cart_icon {
	position: relative;
}

.cart_icon::after {
	position: absolute;
	content: "5";
	top: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	background-color: #f16d7f;
	color: white;
	font-size: 12px;
	font-weight: bold;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* MENU */

.menu {
	display: none;
	position: absolute;
	top: 53px;
	right: -230px;
	width: 232px;
	background-color: #fff;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	padding: 32px;
	z-index: 100;
}

.menu h3 {
	font-size: 14px;
	font-weight: bold;
	color: #222;
	margin: 0 0 24px;
}

.menu_section h4 {
	font-size: 14px;
	font-weight: bold;
	color: #f16d7f;
	margin: 10px 0 5px;
}

.menu_section ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu_section ul li {
	font-size: 14px;
	color: #555;
	margin-bottom: 5px;
	cursor: pointer;
}

.menu_section ul li:hover {
	color: #f16d7f;
	text-decoration: underline;
}

.burger_icon:hover + .menu {
	display: block;
}

/* TOP CONTENT BLOCK */

.top__title__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: rgba(241, 228, 230, 0.8);
}

.top__title__img {
	width: 100%;
	height: auto;
	display: block;
}

.top__title__h1 {
	display: flex;
	align-items: center;
}

.brand-title {
	position: relative;
	line-height: 0.8;
	font-size: 48px;
	font-weight: bold;
	color: #000;
	margin: 10px;
	gap: 10px;
}

.vertical-line {
	width: 10px;
	height: 10%;
	margin-left: 64px;
}

.brand-subtitle {
	font-size: 32px;
}

.highlight {
	color: #f16d7f;
	font-weight: bold;
}

/* блок MAIN_CATALOGUE */

.main__catalogue {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin: 20px 230px;
}

.main__catalogue__item img {
	width: 100%;
	height: auto;
	display: block;
}

.main__catalogue__item {
	position: relative;
}

.accessories {
	grid-column: 1 / span 3;
	margin-bottom: 86px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.category__characteristic {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 10px;
}

.category__name {
	font-size: 24px;
	font-weight: 700;
	color: #f16d7f;
	margin: 0;
}

/* FETURED ITEMS block */

.fetured__items__heading {
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}

.fetured__items__title {
	font-family: "Lato";
	font-weight: 400;
	margin: 0;
}

.fetured__items__text {
	font-size: 14px;
	color: #9f9f9f;
	padding-left: 16px;
}

.fetured__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin: 44px 230px 0 230px;
	gap: 30px;
}

.fetured__item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: rgba(248, 248, 248, 0.5);
	padding: 0 15px 20px 15px;
	overflow: hidden;
}

.fetured__item img {
	width: 100%;
	height: auto;
	display: block;
	transition: background-color 0.3s ease;
}

.featured__item:hover .featured__item__img {
	background-color: rgba(0, 0, 0, 0.7);
}

.add_to_cart {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.fetured__item:hover .fetured__item__img {
	opacity: 0.5;
}

.fetured__item:hover .add_to_cart {
	opacity: 1;
}

.fetured__item__header {
	font-size: 13px;
	padding-left: 16px;
	margin-bottom: 0;
	font-weight: 400;
}

.fetured__item__description {
	color: #5d5d5d;
	margin: 12.65px 0 18px;
	padding-left: 16px;
}

.fetured__item__price {
	color: #f16d7f;
	padding-left: 16px;
}

/* button */

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 57px 96px;
}

.browse__all__product__btn {
	margin: auto 0;
	color: #f26376;
	padding: 10px 20px;
	font-size: 16px;
	border: 2px solid #f16d7f;
	background: none;
	transition: background 0.3s, color 0.3s;
	cursor: pointer;
}

.browse__all__product__btn:hover {
	background: #f16d7f;
	color: #fff;
}

/*PROMISSES SECTION  */

.promisses_background {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222224;
	color: #fbfbfb;
	font-family: "Lato";
	width: 100%;
	height: 100%;
	padding: 103px 230px 104px 230px;
}
.promisses_item {
	text-align: center;
}

.promisses_header {
	color: #fbfbfb;
	font-size: 19.96px;
	font-family: "Lato";
	font-weight: 400;
	word-wrap: break-word;
}
.promisses__description {
	color: #fbfbfb;
	font-size: 13.97px;
	font-family: "Lato";
	font-weight: 400;
	text-align: center;
	margin: 0 20px;
}

/*SUBSCRIBE SECTION  */

.subscribe {
	position: relative;
}

.intersect__text {
	color: #222224;
	font-size: 20px;
	font-family: Lato;
	font-weight: 400;
	word-wrap: break-word;
}

.overlay__subscribe {
	position: absolute;
	background-color: rgba(244, 244, 244, 0.7);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 327.26px;
}
.bkgd_view {
	display: block;
	width: 100%;
	height: auto;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px auto;
	text-align: center;
}
form h2 {
	font-family: Lato;
	font-size: 24px;
	font-weight: 700;
	color: #222224;
	line-height: 40.13px;
	margin-bottom: 10px;
}
form label {
	font-size: 18px;
	font-weight: 400;
	color: #222224;
	line-height: 30.1px;
	margin-bottom: 20px;
}
.btn__container {
	display: flex;
}
#email {
	width: 70%;
	padding: 15px;
	font-size: 16px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 25px 0 0 25px;
	outline: none;
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.05);
}

form button {
	padding: 15px 30px;
	font-size: 16px;
	color: white;
	background-color: #f16d7f;
	border: none;
	border-radius: 0 25px 25px 0;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

form button:hover {
	background-color: #ff8a9c;
}
footer {
	display: flex;
	justify-content: space-around;
	background-color: #222224;
	color: #fbfbfb;
	padding: 24px 0 23px;
}

.footer_icons {
	display: flex;
	align-self: center;
	gap: 7.29px;
}

.icon:hover path {
	fill: #f16d7f;
}
.icon:hover path:last-child {
	fill: #fbfbfb;
}

@media (max-width: 1024px) {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 18px 18px 18px 32px;
	}

	.top__logo {
		display: flex;
	}

	.top__menu {
		display: flex;
	}

	.menu {
		right: -18px;
	}
	.center {
		padding-left: calc(50% - 376px);
		padding-right: calc(50% - 376px);
	}

	.main__catalogue {
		grid-gap: 19.9px;
		margin: 64px 0 0 0;
	}

	.brand-title {
		font-family: Lato;
		font-size: 44px;
		font-weight: 900;
		color: #222;
		margin: 10px;
		gap: 10px;
	}

	.brand-subtitle,
	.highlight {
		font-size: 24px;
		font-weight: 700;
	}

	.vertical-line {
		margin-left: 39px;
	}

	.top__search {
		width: 26px;
	}
	.main_logo {
		width: 44px;
	}
	img.top__menu__img {
		width: 32px;
	}
	#cart_number_products {
		position: absolute;
		right: 41px;
		top: 38px;
	}

	#number_products {
		position: absolute;
		right: 47px;
		top: 39px;
		font-size: 12px;
	}

	.fetured__items {
		margin: 0;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}
	.fetured__item {
		padding: 10px 0;
	}

	h3.category__characteristic {
		margin-bottom: 0;
	}

	h3.fetured__item,
	.fetured__item__description,
	.fetured__item__price {
		padding: 0 16px;
		font-size: 14px;
		font-weight: 300;
	}

	h3.fetured__item {
		font-weight: 400;
	}

	.fetured__items__title {
		font-size: 30px;
	}

	.fetured__items__text {
		margin-bottom: 63px;
	}

	.browse__all__product__btn {
		font-size: 14px;
		padding: 14px 45.25px;
		border: 1px solid #ff6a6a;
	}
	.add_to_cart {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		color: black;
		border: 1px solid black;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.promisses_background {
		flex-direction: column;
		gap: 48px;
		padding: 48.16px 204px 64px;
	}

	.promisses__description {
		margin: 0;
	}

	.overlay__subscribe {
		position: relative;
		flex-direction: column;
		height: auto;
		gap: 0;
	}
	.intersect {
		margin-top: 64px;
	}

	.intersect__text {
		margin-top: 30px;
	}

	form {
		margin: 48px 0 140px;
	}

	form h2 {
		line-height: 38.88px;
	}
	form label {
		line-height: 29.16px;
	}

	.bkgd_view {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 720px;
		object-fit: cover;
		object-position: 28% 100%;
		z-index: -1;
	}

	.overlay__subscribe {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#email {
		background-color: #e1e1e1;
	}

	.copyright_text {
		margin: 0;
	}

	footer {
		padding: 24px 24px 24px 32px;
		justify-content: space-between;
		align-items: center;
	}
}

@media (max-width: 767px) {
	body {
		padding: 0;
		margin: 0;
	}
	.center {
		padding-left: 16px;
		padding-right: 16px;
	}

	header {
		padding: 18px 16px;
	}

	.menu {
		top: 50px;
	}

	.top__title__content {
		grid-template-columns: repeat(1, 1fr);
	}

	.person_icon,
	.cart_icon,
	#cart_number_products,
	#number_products,
	.top__title__img {
		display: none;
	}

	.top__logo {
		padding: 0;
	}

	.brand-title {
		font-size: 38px;
		font-weight: 900;
		width: 236px;
		margin: 148px 40px 149px 15px;
	}

	.brand-subtitle,
	.highlight {
		font-size: 20px;
		font-weight: 700;
	}

	.vertical-line {
		width: 10px;
		height: 10%;
		margin-left: 40px;
	}

	.main__catalogue {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 32px;
	}
	.accessories {
		grid-column: 1 / span 1;
		margin-bottom: 64px;
	}

	.category__characteristic {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.category__name {
		font-size: 24px;
	}

	.fetured__items {
		gap: 15.62px;
		grid-template-columns: repeat(1, 1fr);
	}

	.fetured__item__description {
		font-weight: 400;
		margin-bottom: 17.95px;
		padding-right: 0;
	}

	.fetured__item__header {
		font-size: 13px;
		margin: 25.28px 0 0 17.95px;
		font-weight: 400;
		padding-left: 0;
	}

	.fetured__item {
		padding: 3.95px 0;
	}
	.browse__all__product__btn {
		font-size: 16px;
		font-family: "Lato";
		padding: 15px 9px 14px 9px;
		width: 212px;
		margin: 0;
	}

	.button-container {
		margin: 40px 90px 96px 73px;
	}

	.overlay__subscribe {
		height: auto;
	}

	.bkgd_view {
		object-fit: cover;
	}

	.promisses_background {
		padding: 48px 13px 81px 14.18px;
	}

	.promisses__description {
		margin: 0 30px;
		font-weight: 300;
		word-wrap: break-word;
	}

	/* SUBSCRIBE SECTION */
	.intersect__text {
		font-size: 18px;
	}

	form {
		margin-top: 59px;
		margin-bottom: 109px;
	}
	form h2 {
		font-weight: 700;
		line-height: 36.77px;
		margin-top: 0;
	}

	form label {
		font-size: 14px;
		font-weight: 400;
		line-height: 21.45px;
	}
	#email,
	form button {
		font-size: 14px;
	}
	.bkgd_view {
		height: 550px;
		object-fit: cover;
		object-position: 28% 100%;
		transform: translateY(31px);
	}
	footer {
		flex-direction: column-reverse;
		gap: 40px;
		padding-top: 43px;
		padding-bottom: 9px;
	}
}
